{#
/**
 * @file ticket_registration.html.twig
 * Default theme implementation to present Ticket registration data.
 *
 * This template is used when viewing Ticket registration pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ticket_registration()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ticket_registration') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
